/* You can add global styles to this file, and also import other style files */
body {
  background: #7f7fd5;
  background-repeat: no-repeat;
  background-size: cover;
}
h5 {
  margin: 0;
  padding: 8px;
  color: aliceblue;
}
.top-bar {
  display: flex;
  justify-content: space-between;
}
div.p-datatable-wrapper table thead.p-datatable-thead tr th.table-teste {
  width: 4rem;
  text-align: center;
}
div.p-datatable-wrapper table thead.p-datatable-thead tr th.table-edit {
  width: 7rem;
  text-align: center;
}
div.p-datatable-wrapper table tbody.p-datatable-tbody tr td.table-n {
  text-align: center;
}
