<div class="container">
    <p-table [value]="product">
        <ng-template pTemplate="caption">
            <div class="top-bar">
                <h5>Marketlist</h5>
                <button pButton type="button" icon="pi pi-plus" (click)="openNew()"></button>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>Name</th>
                <th class="table-teste">Qnty</th>
                <th class="table-edit"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>
                    <p-tableCheckbox [value]="product"></p-tableCheckbox>
                </td>
                <td>{{product.name | titlecase}}</td>
                <td class="table-n">{{product.qnty}}</td>
                <td><button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                        (click)="editProduct(product)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                        (click)="deleteProduct(product)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-dialog [(visible)]="productDialog" position="top" [style]="{width: '450px'}" header="Product Details" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="name">Name </label>
                <input type="text" pInputText id="name" [(ngModel)]="newProduct.name" required autofocus />
                <small class="p-invalid" *ngIf="submitted && !newProduct.name">Name is required.</small>
            </div>
            <div class="p-field p-col">
                <label for="quantity">Quantity </label>
                <input type="number" id="quantity" [(ngModel)]="newProduct.qnty" />
            </div>
        </div>
    </ng-template>
    <p-footer>
        <p-button icon="pi pi-check" label="Confirm" class="p-button-rounded p-button-text" (click)="saveProduct()">
        </p-button>
        <p-button icon="pi pi-times" label="Cancel" class="p-button-outlined" (click)="hideDialog()"></p-button>
    </p-footer>
</p-dialog>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>