h3 {
  margin: 0;
}
.new {
  padding: 0;
}
.container {
  width: 480px;
  margin: 4rem auto;
}
.menu {
  background-color: blue;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
